In [1]:
print("Hi")

Hi

In [2]:
print("Hello")

Hello

### Modes of execution:
> 1. Interactive mode cmd python >>> quit()
> 2. Scripting Mode .py cmd dir python file_name.py
> 3. IDE jupyter,PyCharm,eclipse,Atom, Sublime text, Spider

In [3]:
print("Hi")

Hi

### Datatypes 
> 1. int 101 25 5555555555 immutable not iterable
> 2. float 10.2555 78.666 immutable not iterable
> 3. str 'python' "Java" """ Sample string """ immutable iterable 
> 4. list [10,20,30,40,"Python",[100,200,300]] mutable iterable
> 5. tuple (10,20,30,"Python") immutable  iterable
> 6. dict {"name":"ABC","email":"abc@gmail.com"} mutable iterable
> 7. set {10,20,30,40} mutable  iterable
> 8. bool True False immutable not iterable

In [ ]:
Mutable : methods to add update nad delete the elements

In [ ]:
None

In [4]:
a = 100 
print(a)
a = 200
print(a)

100
200

In [7]:
num1 = 100 
num2 = 200 
num3 = num1 + num2
print(num3)

300

In [ ]:
int num1,num2 
num1 = 100
num2 = 200
100       200
num1      num2
1001      1005

In [ ]:
100 num1 
200 num2

In [11]:
num1 = 257
num2 = 257
print(id(num1),id(num2))

1727178602416 1727178601808

In [13]:
num1 = 2
print(id(num1))

1510108256

In [ ]:
[0-256] => Object Intering

In [20]:
num1 = 100 
print(id(num1))
num1 = 200 
print(id(num1))

1510111392
1510114592

In [19]:
l = [10,20,30]
print(id(l))
print(l)
l.append(40)
print(id(l))

1727177806728
[10, 20, 30]
1727177806728

In [ ]:
num1 = 1000
num2 = 2000

In [ ]:

2000 num1

In [21]:
num1 = 100
print(id(num1))
num1 = 200
print(id(num1))
print(id(num1))

1510111392
1510114592
1510114592

In [22]:
num1 = 100 
print(num1)

num1 = "Python"
print(num1)

100
Python

In [23]:
num1 = num2 = 100
print(num1,num2)

100 100

In [24]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [25]:
num1,num2 = num2,num1
print(num1,num2)

200 100

In [26]:
# num1 = 500
# print(num1)
# num1 = 100

500

In [ ]:
# ctrl / : multiline comment
# single line comment

### Test markdown
> - test1


1.

In [27]:
num1 = "Python"
print(type(num1))

<class 'str'>

In [28]:
l = [10,20,30,40,50]
print(type(l))

<class 'list'>

### Operators : 
- 1. Arithmetic operators +,-,*,/,//-floor divison,**,%
- 2. Comparison operator ==,!=,<,> ,<=,>=
- 3. Identity operators is is not 
- 4. Membership operator in not 
- 5. Assignment Operators = ,+=,-=,*=,/=
- 6. Logical Operators and or not

In [34]:
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(25 ** 0.5 )

3.3333333333333335
3
1
5.0

In [37]:
l1 = [10,20,30]
l2 = [10,20,30]
print(l1 == l2)

s1 ="Python"
s2 ="Python"
print(s1 == s2)

True
True

In [45]:
num1 = 1000
num2 = 1000
print(num1 == num2)
print(num1 is not num2)

l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1),id(l2))
print(l1 == l2)
print(l1 is l2)

True
True
1727177806344 1727177222920
True
False

In [48]:
l = [10,20,30,40,50]
print(4 in 400)

TypeError: argument of type 'int' is not iterable

In [49]:
print("p" in "Python")

False

In [53]:
d = {1:1,2:4,3:9}
print(3 not in d)

False

In [58]:
num1 = 100
num1 = num1 + 5
print(num1)
num1/=5
print(num1)

105
21.0

In [ ]:
num1++

In [62]:
print(not(5 == 5 or 5!= 6))

False

In [ ]:
Comaparison 
Logical 
Identity 
Membership

### If else

In [ ]:
if [condition]:
    statemnts
    statemnts
elif [condition]:
    statements
else:
    statemnts

print("Hi")

In [75]:
num1 = 500
num2 = 600

if num1 > num2:
    print("Num1 is greater ")
    if num1 %5 ==0:
        print("Num1 is greater and divisible by 5")
        if num1 > 2:
            print("Print if greater than 21")
    print("Just another statemnt in first if")
elif num2 > num1:
    print("Num2 is greater")
    print("Hi")    
else:
    print("Both are equal")

Num2 is greater
Hi

In [ ]:
PEP 8 standard

In [79]:
char = "z"
l = ['a','e','i',"o","u"]
if char in l:
    print("vowel")
else:
    print("consonent")

consonent

In [87]:
if [10]:
    print("Python")
else:
    print("Hi")

Python

In [88]:
num1 = 53 
if num1 %3 ==0 and num1 % 5 == 0:
    print(True)
else:
    print(False)

False

In [ ]:
1. Interactive cmd python >>> quit()
2. Scripting .py python filename.py
3 .IDE ctrl + enter

In [ ]:
num1,num2 = num2,num1

In [ ]:
== => value  is  memory

In [ ]:
id type

In [ ]:
num1 = 1000
num2 = 1000

In [ ]:
 == =

In [ ]:
membership in not in 
4 in 400 
    except int float `

In [ ]:
list 
dict
set 


int 
float 
str 
tuple 
bool

In [ ]:
l1 = [10,20,30]
l2 = [10,20,30]

In [ ]:
if condition :
    statemnts 
elif condition:
    statemnts 
else:
    staemnts

In [ ]:
not zero True 
"" [] ,None ,0 => False

In [92]:
l = [10,20,30,40,50]
print(40 in l)
print(400 in [400])

True
True