In [ ]:
List :
    Add:
        append 
        extend 
        insert 
    Update :
        l[index] = new_value        
    Delete:
        pop => index
        remove => value
        clear 
        del 
        
Dict :
    Add:
        d['age'] = value 
        d.setdefault(key,value)
        
    Update :
        d['key'] = new_value
        
    Delete:
        pop
        popitem 
        clear 
        del

In [5]:
d = {"ABC":"5,4,4,4,3","XYZ":"2,2,3,4,4","RST":"3,3,3,2,2"}
d2= {}
for key,value in d.items():
    reviews = value.split(",")
    sum = 0 
    for review in reviews:
        sum = sum + int(review)
    d2[key] = sum / len(review)
print(d2)

{'ABC': 4.0, 'XYZ': 3.0, 'RST': 2.6}

In [8]:
d = {"Java Web Developer":["Java","Spring","JSP","SQL"],"ML engineer":["Python","Numpy","Pandas","scikit learn"],"Test Automation":["Python","selenium"]}
d2 = {}

for key,value in d.items():
    if "Python" in value :
#         d2[key] = value
        d2.setdefault(key,value)
print(d2)

{'ML engineer': ['Python', 'Numpy', 'Pandas', 'scikit learn'], 'Test Automation': ['Python', 'selenium']}

In [9]:
d = {"A":{1:1,2:4,3:9},"B":{4:16,5:25,6:36}}

d2 = {}
for key,value in d.items():
    d2.update(value)
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [15]:
s = "abcdaaaccczzzzzzztrteret"
max_char =""
max_count = 0
l = []
for value in s:    
    if value not in l:
        l.append(value)
        if s.count(value) > max_count :
            max_char = value
            max_count = s.count(value)
print(max_char,max_count)

z 7

### Set :
- {10,20,30,40,50,60}
- {10:None,20:None,30:None,40:None}
- all the elemnts in set should be unique 
- all the elemnts should be immutable = int,str,float,tuple 
- unordered => no indexing and slicing 
- mutable

In [ ]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80,90}

s1 union s2 = {10,20,30,40,50,60,70,80,90}
s2 union s1 = same 

s1 intersection s2 = {40,50}
s2 intersection s1 = same


s1 difference s2 = {10,20,30}
s2 difference s1 = {60,70,80,90}

s1 symmetric differnce s2 = {10,20,30,60,70,80,90}

s3 = {10,20}

s3 is subset of s1 
s1 is superset of s3

In [17]:
s1 = set()
print(type(s1))

<class 'set'>

In [19]:
l = [10,10,20,30,40,50,78,41,10]
s = set(l)
l2 = list(s)
print(l2)

[40, 41, 10, 78, 50, 20, 30]

In [21]:
s = {10,20,30,40,10,20,30}
print(s)
s.add(50)
print(s)

{40, 10, 20, 30}
{40, 10, 50, 20, 30}

In [27]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}

# s3 =  s1.union(s2)
# print(s3)

# s4 = s1.intersection(s2)
# print(s4)

# s5 = s1.difference(s2)
# print(s5)

# s5 = s2.difference(s1)
# print(s5)

# s6 = s1.symmetric_difference(s2)
# print(s6)

{70, 40, 10, 80, 50, 20, 60, 30}
{80, 20, 70, 10, 60, 30}

In [28]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}

s1.update(s2)
print(s1)

{70, 40, 10, 80, 50, 20, 60, 30}

In [29]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}

s1.intersection_update(s2)
print(s1)

{40, 50}

In [31]:
s1 = {10,20,30,40,50}
s2 = {40,50,60,70,80}

s1.symmetric_difference_update(s2)
print(s1)

{70, 10, 80, 20, 60, 30}

In [34]:
# l1 = [10,20,25,45,74,32,10,45]
# l2 = [100,200,300,44,55,78,41,10,20,25]
# # l3 = []
# # single , unique , sorted 

# s1 = set(l1)
# s2 = set(l2)

# s3 = s1.union(s2)
# print(s3)

# l3 = sorted(s3)
# print(l3)

{200, 74, 10, 78, 20, 25, 32, 100, 41, 300, 45, 44, 55}
[10, 20, 25, 32, 41, 44, 45, 55, 74, 78, 100, 200, 300]

In [ ]:
delete:
    pop
    remove 
    discrad 
    del
    clear

In [47]:
s = {10,20,30,40,50,60}
r = s.pop()
print(s,r)

s.remove(30)
print(s)

s.discard(200)
print(s)

s.clear()
print(s)

del s
print(s)

{10, 50, 20, 60, 30} 40
{10, 50, 20, 60}
{10, 50, 20, 60}
set()

NameError: name 's' is not defined

In [ ]:
union=> s3  => update=> s1 
intersection  => in_update  s1  
difference  => diff_update
symmetric difference  => symm_update 

l1 
l2 
l3 
l5

s6 = {}

In [59]:
import random
print(random.random())

0.15886489020211048

In [68]:
l = [1,2,3,4,5,6]
print(random.choice(l))

2

In [105]:
print(random.randint(1,5))
print(random.randrange(1,5))
print(random.uniform(10,50))

1
1
44.60602101684299

In [ ]:
8  char long default password 
1 upper case 
1 lower 
1 special char  
5 digits

In [110]:
print(random.randint(10000,99999))

47819

In [113]:
print(ord('a'))
print(chr(97))

97
a

In [114]:
s = "a"
s = s.upper()
print(s)

A

In [181]:
upper =  chr(random.randint(ord('A'),ord('Z')))
lower =  chr(random.randint(ord('a'),ord('z')))
l = ['!','@','#','$','&']
special = random.choice(l)
digits = str(random.randint(10000,99999))
p = upper+lower+special+digits

l = random.sample(p,8)
password = ("").join(l)
print(password)

5T207g2#

In [183]:
import os
print(os.getcwd())

E:\sessions Code\Dec-WE-4-7